.head{
      text-transform:uppercase;
      text-align:center;
      letter-spacing:.1em;}

.form{
      text-align:center;
      padding:80px;
      }
.img{
     height:300px;
     width:300px;}
.nav-link{
          side:LEFT;
            }
.frm{
     padding:50px;
    }