{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="container form">
    <div class="col-md-6">
        <h2>
            <a class="head" href="{% url 'bankapp:Home' %}">
                        <strong><span>Marvel</span> Bank</strong>
            </a>
        </h2>
         <div class="container">
            <a href="{% url 'bankapp:Home' %}"><img src="{% static 'images/logo.png' %}" class="img" alt="logoimg"></a>
        </div>
    </div>
    <div class="col-md-6 p-3 shadow">
        <h2 class="head">login</h2>
        <form action="login" method="post" class="form">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="username" class="form-control" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Password">
            </div>
            <div class="form-group">
                <input type="submit">
            </div>
            <div class="form-group">
                <a class="" href="{% url 'register' %}">Register</a>
            </div>

        </form>
        {% for msg in messages %}
            <h6><strong>{{msg}}</strong></h6>
        {% endfor %}
    </div>
</div>

{% endblock %}